.activityCard{
    display: flex;
    border: 1px black solid;
    border-radius: 20px;
}

.activityCard__image{
    max-width: 450px;
    border-radius: 20px 0 0 20px;
}
.activityCard__description{
    padding: 2%;
}