@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root{
    --transparent-white:#dddedd9f;
    --background-white: #f6f6f6;
    --black: #222;
    --dark-gray: #5c5d5c;
    --mint: #33b392;
}

:root, body{
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-color:var(--background-white);
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.pageContainer{
    height: max-content;
}
h1,h2,h3,a{
    font-family: 'Prata', serif;
}

@media (width < 600px){
    :root, body{font-size: 14px;}
}