.landing__header{
    position: relative;
}

.landing__header__image{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.landing__header__card{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
