.header, .landing__main, .landing__section{
    position: relative;
    place-content: center;
    display: grid;
}
.landing__main, .landing__section{
    margin: auto;
    max-width: 80vw;
    margin: 80px auto;
}

.header__image{
    width: 90vw;
    height: 400px;
    object-fit: fill;
}

.header__card{
    position: absolute;
    left: 15%;
    bottom: 15%;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--transparent-white);
    backdrop-filter: blur(10px);
}
