.description__card{
    border-radius: 24px;
    padding: 2% 5%;
    background-image: linear-gradient(
        90deg,
        hsl(33deg 74% 79%) 0%,
        hsl(34deg 87% 68%) 50%,
        hsl(35deg 91% 56%) 100%
        );
    }
    
    .locationCard{
        position: relative;
        margin:0;
        object-fit: cover;
        height: 100%;
}

.locationCard__img{
    width: 80vw;
    height: 100%;
    object-fit: cover;
}

.locationCard__description{
    width:90%;
    position: absolute;
    height: 0;
}

.locationCard__description__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion{
    display: flex;
    flex-direction: column;
    background-color:var(--mint);
    border-radius: 18px;

}

.accordion__division{
    height: 100px;
    overflow: hidden;
    border: 8px var(--mint) solid;
    border-bottom: 0px;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
}

.accordion__division:hover{
    border: 8px var(--black) solid;
}

.accordion .accordion__selected{
    height: 480px;
    border-radius: 18px;
}

.accordion .accordion__selected .locationCard__description{
    background-image: linear-gradient(
        90deg,
        hsl(33deg 74% 79%) 0%,
        hsl(34deg 87% 68%) 50%,
        hsl(35deg 91% 56%) 100%
        );
    top:0;
    height: min-content;
    padding: 2% 5%;
}