.navBar__container{
    position:sticky;
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
}